.footer {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  margin: 0 auto;
  font-family: Inter;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 940px) {
  .footer {
    padding-left: 19px;
    }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0;
    padding: 48px 19px 36px 19px;
    }
}


