.profile__info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  padding-left: 20.6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 298.1px);
}

@media screen and (max-width: 935px) {
  .profile__info {
    width: calc(100vw - 320px);}
}

@media screen and (max-width: 705px) {
  .profile__info {
      padding: 22.25px 0 36px 0;
      align-items: center;
      align-self: center;
      width: 100%;;
    }
}