<<<<<<< HEAD
.profile__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 8px;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .profile__container {
    padding-left: 28px;}
=======
.profile__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 8px;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .profile__container {
    padding-left: 28px;}
>>>>>>> 27b3935dc5ca766894c64d777358fe21076411ce
}