.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  background: transparent;
  border: none;
  background-image: url(../../../images/close-ikon.png);
  z-index: 5;
  top: 155px;
  left: calc(100% / 2 + 223px);
  background-size: cover;
  flex-shrink: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 532px) {
  .popup__close-button {
    left: calc(100% / 2 + 183px);}
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    top: 87px;
    width: 20px;
    height: 20px;
    left: calc(100% / 2 + 121px);}
}
